:root {
  /* --rojo_claro:rgb(255, 69, 69); */
  --rojo_claro: rgba(230,167,235,255);

  --rojo_claro-d:rgba(230,167,235,255);
  --gris_claro:rgb(122, 120, 120);
  --azul_oscuro:rgb(15, 20, 27);
  --rojo_oscuro:  rgba(247, 0, 0, 0.09);
  --cards:rgba(230,167,235,255);
  --metal-tex: url(https://images.unsplash.com/photo-1501166222995-ff31c7e93cef?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTcyMDc2NzU&ixlib=rb-1.2.1&q=80);

  
  ; /* Definición de una variable llamada color-primario con el valor rojo */
}
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@100&family=Lato&family=Mulish:ital,wght@1,500&family=Oswald:wght@200;700&family=Pixelify+Sans:wght@500&family=Playfair+Display&family=Poppins:wght@100&family=Roboto+Condensed:wght@300&family=Roboto+Slab:wght@200&display=swap');

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Para evitar el desplazamiento horizontal en general */
  scroll-behavior: smooth;
  font-family: 'Oswald', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Kanit', sans-serif;
  width: 100%;

}

nav{
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(32, 37, 46);
  padding: 20px 80px;
  z-index: 20;
  box-shadow: 0 5px 15px rgba(247, 0, 0, 0.09);
}

.logo-nav{
  background-color: var(--rojo_claro);
}

#navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  /* width: 100%; */
}

#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
  /* overflow: visible;  */

}

#navbar li a{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #ffffff;
  overflow: visible; /* Permite que el contenido desbordado sea visible */
}

#navbar li a i{
  font-size: 1rem;
  margin-left: 15px;
}

#navbar li a:hover,
#navbar li a.active
{
  color: var(--rojo_claro);
}

#navbar li a:hover::after,
#navbar li a.active::after
{
  content: "";
  width: 30%;
  height: 2px;
  background-color: var(--rojo_claro);
  position: absolute;
  bottom: -4px;
  left: 20px;
  overflow: visible; /* Permite que el contenido desbordado sea visible */

}

#mobile i{
  color: #fff;
  cursor: pointer;
}

#mobile{
  display: none;
}

#logo_li{
  display: none;
}


/* MAIN */

.main{
  position: absolute;
  background-image: url("../src//components//main/img/paisaje.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: var(--rojo_claro);
  width: 100%;
  top: 122px;
  height: 600px;
  overflow-y: hidden;
}

#section{
  padding-top: 4vh;
  width: 100%;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container{
  display: flex;
}

#profile{
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* height: 80vh; */
  margin: auto;
}

.section__pic-container{
  display: flex;
  height: 340px;
  width: 340px;
  margin: auto 15px;
}

.section__text{
  align-self: center;
  text-align: center; 
  /* background-color: #fff;
  opacity: 0.9; */
}

.section__text p{
  font-weight: 600;
  color: #d6d6d6;
}

.section__text_p1{
  text-align: center;
  font-size: 1.75rem;
  /* margin-bottom: 1rem; */
}


.section__text_p2{
  font-size: 1.75rem;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 8px;
  border-radius: 5px;
  color: #fff;
}


.title{
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  color: #fff;
  box-shadow: 15px 5px 55px rgb(255, 255, 255);
  border-style: double;
}

#socials-container{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  overflow-y: hidden;

  gap: 1rem;
}


/*ICONS*/

.fa-brands{
  cursor: pointer;
  font-size: 2rem;
  color:rgb(255, 255, 255);
}

.btn-container{
  display: flex;
  justify-content: center;
  gap: 1rem;
  
}

.btn{
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  font-weight: 700;
}

.btn-color-1, .btn-color-2{
  border: rgb(53,53,53) 0.1rem solid;
}

.btn-color-1:hover, .btn-color-2:hover{
  cursor: pointer;
}

.btn-color-1:hover, .btn-color-2:hover{
  background: rgb(243, 243, 243);
  color: #131313;
}

.btn-color-1:hover{
  background-color: rgb(255, 255, 255);
}

.btn-color-2{
  background: var(--rojo_claro-d);
  font-weight: 700;
}

.btn-color-1:hover, .btn-color-2:hover{
  border: #fff 0.1rem solid;
  background-color: rgb(0, 0, 0);
  color: rgb(249, 249, 249);
}

.btn-container{
  gap: 1rem;
}


.section__pic-container img{
  border-radius: 100%;
  height: 100%;
  width: 100%;
}

/*ABOUT SECTION*/

.about{
  max-height: 4100px;
  padding-bottom: 15px;
  /* min-height: 1500px; */
  width: 100%;
  position: absolute;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(15, 15, 15, 0.3); 
  background: url("https://visme.co/blog/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  top: 720px;

}

#about .title{
  color: #131313;
  padding: 10px;
}

.about-containers{
  gap: 2rem;
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}


.about-details-container{
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.about-containers, 
.about-details-container{
  display: flex;
}

.about-pic{
  border-radius: 2rem;
}

#about .fa-house{
  /* position: absolute; */
  /* right: -5rem; */
  bottom: 2.5rem;
}

.about-details-container{
  justify-content: center;
  /* flex-direction: flex; */
  display: flex;
  align-items: center; 
}

.about-containers{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about .details-container{
  position: relative;
  padding: 1rem;
  flex: 1;
  margin: auto auto;
  /* background: white; */
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rebeccapurple;
  text-align: center;
  min-width: 300px;
  max-width: 320px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 160px;
  cursor: pointer;
}

.about-containers .details-container h3{
  text-align: center;
  margin-top: 15px;
}

.about .section-container{
  gap: 2rem;
  margin: auto auto;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}


.about .section__pic-container{
  height: 300px;
  width: 300px;
  margin: auto auto;
  
}

.about  .section__pic-container img{
  height: 100%;
  width: 100%;
  transition: box-shadow 0.5s ease;
}
.about  .section__pic-container img:hover{
  box-shadow: #ffffff5e -8px 5px, #ffffff5e -3px 5px;
}

.text-container{
  background-color: rgba(207, 207, 207, 0.5);
  padding: 10px;
  text-align: center;
  color: #131313;
  border-radius: 45px;
}


.about .details-container{
  /* min-width: 180px; */
  height: 425px;
  background-color: rgb(255,255,255,0.88);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  transition: all 0.6s ease;
  display: block;
  text-align: center; /* Opcional: centra los elementos horizontalmente */
}

.about .about-details-container .img{
  height: 100px;
  background-size: cover;
}

#img1{
  background-image: url("https://cdn.pixabay.com/photo/2015/07/28/20/55/tools-864983_1280.jpg");
}

#img2{
  background-image: url("https://www.esan.edu.pe/images/blog/2016/10/25/proyectoempresarial-principal.jpg");
}

#img3{
  background-image: url("https://i0.wp.com/rashimmogha.com/wp-content/uploads/2017/12/superpower.png?fit=874%2C374&ssl=1");
}
.content-about{
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-weight: 300;
}

.content-about h3{
  width: 200px;
  font-weight: 300;
  font-size: 30px;
  padding-bottom: 5px;
  border-bottom: 4px solid  var(--cards);
}

.content-about p{
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.img-modal{
  border-radius: 100%;
  height: 200px;
  width: 200px;
}


.content-about a{
  list-style-type: none;
  text-decoration: none;
}

.content-about button{
  font-family: 'Londrina Solid', cursive;
  font-weight: 100;
  font-size: 20px;
  color: var(--cards);
  width: 100%;
  height: 45px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  background-color: #ffac1c26;
  transition: 0.2s ease-in-out;
}

.details-container:hover{
  box-shadow: var(--rojo_claro-d) -10px 10px, var(--rojo_claro-d) -20px 20px ;
}

.section__text_p1{
  margin-top: 60px;
}

/*MODAL*/


.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  bottom: 0;
  position: fixed;
  
}


.overlay {
  background: rgba(0, 0, 0, 0.9);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  line-height: 1.4;
  background: #fff;
  opacity: 0.8;
  padding: 28px 48px;
  height: 75vh;
  width: auto;
  border-radius: 3px;
  text-align: center;
  overflow-y: scroll;
  opacity: 0.95;
  border-radius: 15px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  padding: 10px;
  background-color: var(--rojo_claro);
  opacity: 1;
  color: #fff;
  border-radius: 5px;
}

.titulo-modal{
background-color: rebeccapurple;}

/*EXPERIENCE*/

#experience{
  position: relative;
}


.experience-sub-title{
  color: #131313;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.experience .details-container{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 300px;
  height: 600px;
  box-sizing: border-box;
}

.experience .details-container:hover{
  box-shadow: none;
}

.about-containers{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.contenedor-texto-modal h3{
  background: rgb(0, 0, 0, 0.2);
}

.descripcion-modal{
  color: #131313;
  font-weight: 800;
}

.estado{
  background-color: rgb(0, 0, 0, 0.3);
  color: #fff;
  font-weight: 800;
}


.main-metal{
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.metal {
  position: relative;
  /* margin: 15vh auto; */
  color: transparent;
  font-family: impact, sans-serif;
  font-size: 85px;
  letter-spacing: 0.05em;
  background-image: var(--metal-tex);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
}

.texture,
.texture::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.texture {
  background-image: linear-gradient(to bottom, blue, white 50%, red 65%, white);
  background-attachment: fixed;
  mix-blend-mode: color-dodge;
}

.texture::after {
  content: '';
  background-image: var(--metal-tex);
  background-size: cover;
  filter: saturate(0) brightness(0.8) contrast(4);
  mix-blend-mode: multiply;
}

.about-franco{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.about__info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-franco a{
  text-decoration: none;
}

.about-franco{
  gap: 100px;
  /* top: 3500px; */
  width: 100%;
  /* position: absolute; */
  color: #ffff;
}

.about__title{
  color: #ffff;
  font-size: 60px;
}

.about__subtitle{
  padding: 10px 0 20px;
}

.about__text{
  line-height: 28px;
}

.about__social{
  padding: 30px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.about__social-img{
  display: block;
  width: 100%;
}

.about__social-link{
  padding: 10px;
  width: 60px;
  display: block;
  border-radius: 15px;
  border: 3px solid #ffff;
  color: #121212;

  transition: background-color 0.3s;
}

.about__social-link{
  color: #121212;
}

.about__btn{
  display: block;
  width: max-content;
  padding: 20px 40px;
  background-color: #ffff;
  border-radius: 50px;
  color: #121212;
  font-weight: bold;
  transition: background-color 0.3s;
}

.about__social-link:hover{
  background-color: #83807a
}


.about__btn:hover{
  background-color: #8d887b;
}


/*Type Writer*/


.tw-h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
  /* background-color: var(--rojo_claro); */
}
.tw-h1 span {
  color: #fbe8ca;
  position: relative;
  
}
.tw-h1 span::before {
  content: "";
  height: 30px;
  width: 2px;
  position: absolute;
  top: 50%;
  right: -8px;
  background:  #fbe8ca;
  box-shadow: #121212 5px;
  transform: translateY(-45%);
  animation: blink 0.7s infinite;
}

.twdiv{
  text-align: center;
  height: 80px;
  padding: 5px;
  width: 750px;
  background-color: none;
  border: 0.6px #ffff;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 35px;
}

.dc-txt{
  max-width: 100%;
  margin: 15px;
  max-height: 1500px;
  background-color: none;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  transition: all 0.6s ease;
  display: block;
  text-align: center; /* Opcional: centra los elementos horizontalmente */
  border: 3px solid #ffffff;

}

.section__text_p1 i{
  color: #fff;
  margin-right: 15px;
}

.contenedor-contacto{
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-weight: 900;
}

.contacto{
  width:300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  background-color: #dc2f55; 
  color: #fff;
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#sobre-mi {
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  background-color: none;
   transition: background-size .7s, background-position .5s ease-in-out;
}

#sobre-mi:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
}

.form {
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-top: 50px;
  box-sizing: border-box;
  padding: 20px;
  width: 70vw;
  border: 2px solid;
}

.title-form {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
  overflow-y: hidden;
}

.section-container{
  overflow-y: hidden;
  overflow-x: hidden;

}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: none;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
} 

.cut-short {
  width: 50px;
} 

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}


.input:not(:placeholder-shown) ~ .placeholder {
  color: #000000;
  display: none;
}

.submit {
  background-color: var(--gris_claro);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

.form .section__text_p1{
  color: #fff;
}

.mensaje:hover{
  box-shadow: none;
}

.forms {
  opacity: 1; /* Establece el valor inicial */
  background-color: red;
  transition: background-color 1.5s ease-in-out; /* Agrega una transición suave */
}



@media screen and (max-width: 850px){
  .about-franco{
    flex-wrap: wrap;
  }

  .about__img-body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



@media screen and (max-width: 1007px)and (min-width: 769px){
  #about{
    position: absolute;
    top: 720px;
  }

  #Services{
    width: 769px;

  }

  .section__text{
    width: 100%;
  }

  #profile{
    width: 100%;
  }
}


@media screen and (max-width: 769px){

  html div{
    overflow: auto; 
    max-width: 100%; 
  }

  .tw-h1 {
    font-size: 2rem;
    /* background-color: var(--rojo_claro); */
  }

  nav{
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    top: 0%;
  }

  .section__text_p1{
    margin-top: 80px;
  }

  #about{
    position: absolute;
    left: 0;
    top: 835px;
    padding: 0;
    margin: 0;
  }


  #profile{
    box-sizing: border-box;
    /* position: absolute; */
    background-color: green;
  }

  #navbar li a i{
    font-size: 1.5rem;
  }

  #navbar{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    top: 71px;
    transform: translateX(150%);
    transition: transform 1s ease;
    background-color: var(--azul_oscuro);
    box-shadow: 0 5px 7.5px var(--rojo_claro);
    padding: 40px 0 120px 10px;
    height: 100vh;
    width: 100%;
  }
  
  #navbar.active{
    
    transform: translateX(0);
  
  }
  #navbar li{
    margin-bottom: 25px;
  }

  #mobile{
    display: block;
    padding: 10px;
    background-color: var(--rojo_claro);
    opacity: 1;
    border-radius: 5px;
  }

  #mobile i{
    font-size: 30px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #logo_li{
    display: inline;
    position: relative;
    top: 0;
  }

  #logo_li img{
    width: 100px;
    height: 65px;
    border-radius: 60px;
    /* margin: 65px; */
  }

 .section-container{
    /* height: 100vh; */
    margin-bottom: 6rem;
    display: block;
    width: 100%;
    overflow-x: hidden;
  }

  #profile{
    display: block;
    box-sizing: content-box;
    height: 740px;
  }

  section, .section-container{
    height: fit-content;
  }

  .section-container{
    margin-left: 250px;
  }

  section{
    margin: 0 5%;
  }

  .section__pic-container{
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .main{
    top: 96px;
  }
  
  .fa-brands{
    color:rgb(253, 253, 253);
  }

  .btn-color-2{
    background: #d6d6d6;
    font-weight: 700;
  }
  .btn-color-2{
    background:  rgb(0, 0, 0, 0.4);;
    color: #fff;
  }

  .btn-color-2:hover{
    border: #fff 0.1rem solid;
    background-color: rgb(0, 0, 0);
    color: rgb(249, 249, 249);
  }

  .fa-brands{
    color: aquamarine;
  }


  .about-containers{
    display: flex;
    width: 100%;
    flex-direction: column;
  }

 .section-container{
  /* height: 100vh; */
  margin-bottom: 6rem;
  display: block;
  width: 100%;
}
.tw-h1 {
  font-size: 1.7rem;
}

  }

@media screen and (max-width: 420px){

  .about .details-container{
    width: 100px;
    box-sizing: border-box;
    padding: 5px;
    /* background-color: red; */
  }

  .about-containers, .about-details-container, .section-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }


  .tw-h1 {
    font-size: 1.7rem;
    background-color: var(--rojo_claro);
  }

  .twdiv{
    height: 260px;
    background-color: #06b;
  }



  .modal-content {
  background-color: #d6d6d6;
  width: 240px;
  display: flex;
  justify-content: center;
}

}


@media screen and (max-width: 350px){

.modal-content {
  background-color: #d6d6d6;
  width: 200px;
  display: flex;
  justify-content: center;
}
.details-container{
  width: 180px !important;
  /* background-color: red !important; */
}
}



@media screen and (max-height: 320px){
  #navbar{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    top: 71px;
    transform: translateX(1500px);
    transition: transform 1s ease;
    background-color: var(--azul_oscuro);
    box-shadow: 0 5px 7.5px var(--rojo_claro);
    /* padding: 40px 0 120px 10px; */
    height: 100vh;
    width: 80%;
  }
  
#navbar li a{
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 400;
  color: #ffffff;
  overflow: visible; /* Permite que el contenido desbordado sea visible */
}

#navbar li{
  margin-top: 5px;
  margin-bottom: 20px;
}

#mobile{
  display: block;
  padding: 10px;
  background-color: var(--rojo_claro);
  opacity: 1;
  border-radius: 5px;

}

#navbar li a i{
  font-size: 1.0rem;
}
}


.nueva-clase-body,
.nueva-clase-html,
.nueva-clase-root{
  overflow-y: hidden;
}